<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <style>
    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }


    </style>
</head>
<body style="font-family:Verdana;">


<div style= "text-align:center; background-color:darkseagreen ;padding:15px">
  <h1>Database</h1>
</div>

<div class="topnav">
  <a href="http://generatequotes.pythonanywhere.com/">Home</a>
  <a href="http://generatequotes.pythonanywhere.com/generatequotes">Generate Quotes</a>
  <a href="http://generatequotes.pythonanywhere.com/find">All Quotes</a>
  <a href="http://generatequotes.pythonanywhere.com/best">Best Quotes</a>
</div>
    <article style="text-align: left; font-size: large">

        <p>"The gem cannot be polished without friction, nor man perfected without trials." -- Chinese proverb</p>
        <p>"An investment in knowledge always pays the best interest." --  Benjamin Franklin</p>
        <p>Remember, you can earn more money, but time when spent is gone forever. -- Zig Ziglar</p>
        <p>"The greatest of all weaknesses is the fear of appearing weak." -- J. B. Bossuet, Politics from Holy Writ, 1709</p>
        <p>"The first requisite of success is the ability to apply your physical and mental energies to one problem without growing weary." -- Thomas Edison</p>
        <p>"We don't stop playing because we grow old; we grow old because we stop playing. -- George Bernard Shaw</p>
        <p>"Great things are not done by impulse, but by a series of small things brought together." -- Vincent Van Gogh</p>
        <p>"I feel that the greatest reward for doing is the opportunity to do more." -- Jonas Salk</p>
        <p>"You've got to be before you can do, and do before you can have." -- Zig Ziglar</p>
        <p>"A superior man is modest in his speech, but exceeds in his actions." -- Confucius</p>
        <p>"Ability will never catch up with the demand for it." -- Confucius</p>
        <p>"No matter how busy you may think you are, you must find time for reading, or surrender yourself to self - chosen ignorance."-- Confucius</p>
        <p>"Our greatest glory is not in never falling, but in rising every time we fall." -- Confucius</p>
        <p>"Real knowledge is to know the extent of one's ignorance." -- Confucius</p>
        <p>"Learning without thought is labor lost; thought without learning is perilous." -- Confucius</p>
        <p>"The only worthwhile achievements of man are those which are socially useful." -- Alfred Adler</p>
        <p>"God put me on Earth to accomplish a certain number of things. Right now I'm so far behind I will never die! " -- Anonymous</p>
        <p>Lack of direction, not lack of time, is the problem. We all have twenty - four hour days. -- Zig Ziglar</p>
        <p>"Destiny is not a matter of chance, it is a matter of choice; it is not a thing to be waited for, it is a thing to be achieved." -- William Jennings Bryan</p>
        <p>"Unless a man undertakes more than he possibly can do, he will never do all that he can." -- Henry Drummond</p>
        <p>"The best job goes to the person who can get it done without passing the buck or coming back with excuses." -- Napolean Hill</p>
        <p>"Only those who dare to fail greatly can ever achieve greatly." -- Robert Francis Kennedy</p>
        <p>"It is time for us all to stand and cheer for the doer, the achiever — the one who recognizes the challenge and does something about it. " -- Vince Lombardi</p>
        <p>"The heights by great men reached and kept; Were not obtained by sudden flight; But they, while their companions slept; Were toiling upward in the night." -- Henry Wadsworth Longfellow</p>
        <p>"You don't drown by falling in water; you only drown if you stay there." -- Zig Ziglar</p>
        <p>"What you get by achieving your goals is not as important as what you become by achieving your goals." -- Zig Ziglar</p>
        <p>"Obstacles are things a person sees when he takes his eyes off his goal." -- E. Joseph Crossman</p>
        <p>"The man who can drive himself further once the effort gets painful is the man who will win." -- Roger Bannister</p>
        <p>"You'll never achieve your dreams if they don't become goals." -- Anonymous</p>
        <p>"The spirit, the will to win, and the will to excel are the things that endure. These qualities are so much more important than the events that occur." -- Vince Lombardi</p>
        <p>"Lombardi time" is the principle that one should arrive 10 - 15 minutes early, or else be considered late. -- Vince Lombardi</p>
        <p>"Every worthwhile accomplishment, big or little, has its stages of drudgery and triumph; a beginning, a struggle and a victory." -- Ghandi</p>
        <p>"The price of success is hard work, dedication to the job at hand, and the determination that whether we win or lose, we have applied the best of ourselves to the task at hand." -- Vince Lombardi</p>
        <p>"A failure establishes only this, that our determination to succeed was not strong enough." -- Christian Nestell Bovée</p>
        <p>"He who has a why to live for can bear almost any how." -- Friedrich Nietzsche</p>
        <p>"A leader, once convinced that a particular course of action is the right one, must....be undaunted when the going gets tough."  -- Ronald Reagan</p>
        <p>"It is our attitude at the beginning of a difficult task which, more than anything else, will affect it’s successful outcome." -- William James</p>
        <p>"I'ts not what happens to you that determines how far you will go in life ;it is how you handle what happens to you". -- Zig Ziglar</p>
        <p>"Holding on to anger is like grasping a hot coal with the intent of throwing it at someone else; you are the one who gets burned." -- Buddha</p>
        <p>"The optimist sees opportunity in every danger; the pessimist sees danger in every opportunity." -- Winston Churchill</p>
        <p>"A positive attitude may not solve all your problems, but it will annoy enough people to make it worth the effort." -- Herm Albright</p>
        <p>"There are no menial jobs, only menial attitudes." -- William John Bennett</p>
        <p>hard work beats talent when talent doesnt work hard -- tom notke</p>
        <p>if you do what you've always done, you'll get what you've always got -- ?</p>
        <p>"You can tell what a man is by what he does when he hasn’t anything to do." -- Anonymous</p>
        <p>"What lies behind us and what lies before us are tiny matters compared to what lies within us." -- Ralph Waldo Emerson</p>
        <p>"On the mountains of truth you can never climb in vain: either you will reach a point higher up today, or you will be training your powers so that you will be able to climb higher tomorrow." -- Friedrich Nietzsche</p>
        <p>"People of mediocre ability sometimes achieve outstanding success because they don't know when to quit. Most men succeed because they are determined to." -- George E. Allen</p>
        <p>"Success seems to be connected with action. Successful men keep moving. They make mistakes, but they don't quit." -- Conrad Hilton</p>
        <p>"Good ideas are not adopted automatically. They must be driven into practice with courageous patience." -- Admiral Hyman Rickover</p>
        <p>"In order to get from what was to what will be, you must go through what is." -- Anonymous</p>
        <p>"Perseverance is not a long race; it is many short races one after another." -- Walter Elliott</p>
        <p>"Victory is always possible for the person who refuses to stop fighting." -- Napoleon Hill</p>
        <p>"Learning is not compulsory. . . neither is survival." -- Dr. W. Edwards Deming</p>
        <p>"What we think or what we believe is, in the end, of little consequence. The only thing of consequence is what we do." -- John Ruskin</p>
        <p>"Have no fear of perfection - you'll never reach it." -- Salvidor Dali</p>
        <p>"The important thing is this: to be able, at any moment, to sacrifice what we are for what we could become." -- Maharishi Mahesh Yogi</p>
        <p>"Undoubtedly a man is to labor to better his condition, but first to better himself" -- William Ellery Channing</p>
        <p>"Getting what you want is not nearly as important as giving what you have." -- Tom Krause</p>
        <p>"To gain that which is worth having, it may be necessary to lose everything else." -- Bernadette Devlin</p>
        <p>"Sweat plus sacrifice equals success." -- Charlie Finley</p>
        <p>"One - half of knowing what you want is knowing what you must give up before you get it." -- Sidney Howard</p>
        <p>"Dreams do come true, if we only wish hard enough, You can have anything in life if you will sacrifice everything else for it." -- James Matthew Barrie</p>
        <p>"Artists must be sacrificed to their art. Like bees, they must put their lives into the sting they give." -- Ralph Waldo Emerson</p>
        <p>"Success is often the result of taking a misstep in the right direction." -- Al Bernstein</p>
        <p>"A successful man is one who can lay a firm foundation with the bricks others have thrown at him." -- David Brinkley</p>
        <p>"Are you bored with life? Then throw yourself into some work you believe in with all your heart, live for it, die for it, and you will find happiness that you had thought could never be yours." -- Dale Carnegie</p>
        <p>"Instead of worrying about what people say of you, why not spend time trying to accomplish something they will admire." -- Dale Carnegie</p>
        <p>"The successful man will profit from his mistakes and try again in a different way." -- Dale Carnegie</p>
        <p>"Inaction breeds doubt and fear. Action breeds confidence and courage. If you want to conquer fear, do not sit home and think about it. Go out and get busy." -- Dale Carnegie</p>
        <p>"Success means getting up one more time than you fall." -- Oliver Goldsmith</p>
        <p>"Never stop." -- Greg Bigwood</p>
        <p>"Living well is the best revenge." -- George Herbert</p>
        <p>"Think like a man of action, act like a man of thought." -- Henry Bergson</p>
        <p>"The difference between what we do and what we are capable of doing would suffice to solve most of the world’s problem." -- Gandhi</p>
        <p>"An ounce of practice is worth more than tons of preaching." -- Gandhi</p>
        <p>"First they ignore you, then they laugh at you, then they fight you, then you win." -- Gandhi</p>
        <p>"I look only to the good qualities of men. Not being faultless myself, I won’t presume to probe into the faults of others." -- Gandhi</p>
        <p>"Man becomes great exactly in the degree in which he works for the welfare of his fellow - men." -- Gandhi</p>
        <p>"I suppose leadership at one time meant muscles; but today it means getting along with people." -- Gandhi</p>
        <p>"Constant development is the law of life, and a man who always tries to maintain his dogmas in order to appear consistent drives himself into a false position."</p>


    </article>
</div>
</body>
</html>